*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
  border-radius: 10px;
}


body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, rgb(148, 30, 0), rgb(244, 138, 24));
}

.intro{
  position: fixed;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #0e0909;
  transition: 1s;
}

.intro-header{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.logo{
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo.active{
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade{
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid>button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px, solid #000000;
  outline: none;
  background-color: rbga(255, 255, 255, 0.75);
}

.calculator-grid>button:hover {
  background-color: #ffa3a3;
}

.span-two {
  grid-column: span 2;
  color: #adf802;
  background-color: rgba(101, 1, 101, 0.8);
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}